@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scroll-thrumb-bg: rgb(100, 100, 100);
    --icon-bg: 226 232 240;
    --btn-bg: 37 99 235;
    --aside-bg: 219 234 254;
    --icon-active-color: 37 99 235;
    --icon-active-bg: 191 219 254;
    --active-link: 59 130 246;
    --form-color: 100 116 139;
    --icon-color: 51 65 85;
    --bg: 255 255 255;
    --media-color: 71 85 105;
    --heading-color: 71 85 105;
    --link-color: 203 213 239;
    --border: 219 234 254;
  }

  :root.dark {
    --scroll-thrumb-bg: rgb(10, 10, 10);
    --icon-bg: 32 48 71;
    --aside-bg: 15 23 42;
    --icon-color: 148 163 184;
    --bg: 19 32 54;
    --form-color: 148 163 184;
    --media-color: 203 213 225;
    --heading-color: 255 255 255;
    --link-color: 203 213 239;
    --border: 51 65 85;
  }
}

@layer base {
  div#root {
    @apply flex flex-col max-h-[100vh] h-[100vh] dark:bg-gray-900 overflow-hidden;
  }
  span,
  p,
  svg {
    @apply text-media-color text-sm;
  }

  label,
  input {
    @apply text-form-color;
  }

  label {
    @apply font-bold text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-heading-color;
  }
  a,
  button {
    @apply text-link-color;
  }
}

@layer utilities {
  .main {
    @apply overflow-y-auto flex-grow-[1] flex-shrink-[1] flex-auto;
  }
  .form-input {
    @apply bg-bg border-border border text-sm outline-none px-4 py-3 leading-4 rounded-md;
  }
  /* util for icons in header */
  .header-icon {
    @apply w-11 h-11 md:w-12 md:h-12;
  }
  .header-chat-icon {
    @apply w-9 h-9 md:w-10 md:h-10 rounded-md [&>svg]:!w-6 [&>svg]:!h-6 [&>svg]:md:!w-7 [&>svg]:md:!h-7;
  }
  /* Dropdown container */
  .dropdown {
    @apply relative inline-block;
  }

  .list-item-in-dropdown {
    @apply [&>*]:text-[14px] flex gap-x-2 [&>svg]:text-lg [&>*]:hover:text-active-link;
  }

  /* Dropdown menu */
  .dropdown-menu {
    @apply absolute right-0 mt-3 bg-bg flex flex-col z-[999] min-w-[96px] border-border border rounded-md;
  }
}

/* scrollbar */
@property --var1 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

.scroll {
  overflow-y: auto;
  transition: --var1 0.5s;
}

.scroll:hover {
  --var1: var(--scroll-thrumb-bg);
}

.scroll::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--var1);
  border-radius: 8px;
}

.form-check-input {
  appearance: none;
  background-color: var(--bs-form-check-bg);
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid #cbd5e1;
  print-color-adjust: exact;
}

.form-check-input[type='radio'] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
}

.form-check-input:checked[type='radio'] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input:checked {
  background-position: right center;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
